@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 30px;
}

.button {
  background: rgba(226, 51, 20, 0.856);
  font-size: 16px;
  border: 0.5px solid rgb(30, 59, 16);
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-size: max(1rem, 13px);
  font-weight: 500;
}

.button:hover {
  transform: scale(0.95);
  background: rgba(247, 47, 12, 0.685);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1050px) {
  .button {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .button {
    font-size: 14px;
  }
}
