@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.Nav {
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-nav {
  display: none;
}

.Nav .navlogo {
  display: flex;
  cursor: pointer;
}

.Nav .navlogo .logoimg {
  width: 4rem;
  padding-bottom: 5px;
  padding-right: 7px;
}

.Nav .navlogo > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: rgb(222, 96, 71);
  padding-top: 15px;
}

.Nav .nav-menu {
  display: flex;
  list-style: none;
  transition: all 0.5s ease;
  gap: 20px;
}

.Nav .nav-menu #link {
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.Nav .nav-menu #link:hover {
  transform: scale(1.15);
}

.Nav .nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Nav .nav-menu .active {
  color: tomato;
}

.Nav .nav-right .nav-search {
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.Nav .nav-right .nav-search:hover {
  transform: scale(1.1);
}

.Nav .nav-right > img {
  cursor: pointer;
  transition: all 0.5s ease;
}

.Nav .nav-right > img:hover {
  transform: scale(1.1);
}

.Nav .nav-right .nav-search .dot {
  position: absolute;
  min-width: 12px;
  min-height: 12px;
  background: tomato;
  border-radius: 50%;
  top: -8px;
  right: -8px;
}

.Nav .nav-right .search-bar > form {
  position: relative;
  display: flex;
  border: 1px solid tomato;
  padding: 4px 5px;
  width: 300px;
  border-radius: 60px;
}

.Nav .nav-right .search-bar > form input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 218px;
  padding: 5px;
  border-radius: 20px;
  background: inherit;
  color: rgb(243, 84, 56);
}

.Nav .nav-right .search-bar > form button {
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid rgb(6, 52, 6);
  background: rgb(220, 189, 184);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: 29px;
}

.Nav .nav-right .search-bar > form button img {
  width: 20px;
}

.Nav .nav-right .search-bar > form button:hover {
  transform: scale(0.9);
}

@media (max-width: 1080px) {
  .small-nav {
    display: none;
  }

  .Nav .navlogo .logoimg {
    width: 3.1rem;
    padding-right: 5px;
  }

  .Nav .navlogo > h2 {
    font-size: 22px;
    padding-top: 12px;
  }

  .Nav .nav-menu {
    gap: 18px;
  }
  .Nav .nav-menu #link {
    font-size: 16px;
  }
  .Nav .nav-right {
    gap: 15px;
  }

  .Nav .nav-right > img {
    width: 22px;
  }

  .Nav .nav-right .search-bar > form {
    padding: 4px 6px;
    width: 270px;
  }

  .Nav .nav-right .search-bar > form input {
    font-size: 16px;
    max-width: 195px;
    background: none;
  }

  .Nav .nav-right .search-bar > form button {
    padding: 5px 8px;
    margin-left: 25px;
  }
}

@media (max-width: 901px) {
  .small-nav {
    display: none;
  }

  .Nav .navlogo .logoimg {
    width: 2.7rem;
    padding-right: 5px;
  }

  .Nav .navlogo > h2 {
    font-size: 18px;
    padding-top: 12px;
  }

  .Nav .nav-menu {
    gap: 10px;
  }

  .Nav .nav-menu #link {
    font-size: 14px;
    font-weight: 500;
  }
  .Nav .nav-right {
    gap: 10px;
  }

  .Nav .nav-right > img {
    width: 20px;
  }
  .nav-search .basket > img {
    width: 20px;
  }

  .Nav .button {
    padding: 6px;
    font-size: 14px;
  }

  .Nav .nav-right .search-bar > form {
    padding: 4px;
    width: 200px;
    height: 30px;
  }

  .Nav .nav-right .search-bar > form input {
    font-size: 14px;
    max-width: 155px;
    padding: 4px 0;
    background: none;
  }

  .Nav .nav-right .search-bar > form button {
    padding: 0;
    background: none;
    border: none;
    margin-left: 9px;
  }

  .Nav .nav-right .search-bar > form button img {
    width: 22px;
  }
}


