@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.Nav {
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-nav {
  display: none;
}

.Nav .navlogo {
  display: flex;
  cursor: pointer;
}

.Nav .navlogo .logoimg {
  width: 4rem;
  padding-bottom: 5px;
  padding-right: 7px;
}

.Nav .navlogo > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: rgb(222, 96, 71);
  padding-top: 15px;
}

.Nav .nav-menu {
  display: flex;
  list-style: none;
  transition: all 0.5s ease;
  gap: 20px;
}

.Nav .nav-menu #link {
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.Nav .nav-menu #link:hover {
  transform: scale(1.15);
}

.Nav .nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Nav .nav-menu .active {
  color: tomato;
}

.Nav .nav-right .nav-search {
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.Nav .nav-right .nav-search:hover {
  transform: scale(1.1);
}

.Nav .nav-right > img {
  cursor: pointer;
  transition: all 0.5s ease;
}

.Nav .nav-right > img:hover {
  transform: scale(1.1);
}

.Nav .nav-right .nav-search .dot {
  position: absolute;
  min-width: 12px;
  min-height: 12px;
  background: tomato;
  border-radius: 50%;
  top: -8px;
  right: -8px;
}

.Nav .nav-right .search-bar > form {
  position: relative;
  display: flex;
  border: 1px solid tomato;
  padding: 4px 5px;
  width: 300px;
  border-radius: 60px;
}

.Nav .nav-right .search-bar > form input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 218px;
  padding: 5px;
  border-radius: 20px;
  background: inherit;
  color: rgb(243, 84, 56);
}

.Nav .nav-right .search-bar > form button {
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid rgb(6, 52, 6);
  background: rgb(220, 189, 184);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: 29px;
}

.Nav .nav-right .search-bar > form button img {
  width: 20px;
}

.Nav .nav-right .search-bar > form button:hover {
  transform: scale(0.9);
}

@media (max-width: 1080px) {
  .small-nav {
    display: none;
  }

  .Nav .navlogo .logoimg {
    width: 3.1rem;
    padding-right: 5px;
  }

  .Nav .navlogo > h2 {
    font-size: 22px;
    padding-top: 12px;
  }

  .Nav .nav-menu {
    gap: 18px;
  }
  .Nav .nav-menu #link {
    font-size: 16px;
  }
  .Nav .nav-right {
    gap: 15px;
  }

  .Nav .nav-right > img {
    width: 22px;
  }

  .Nav .nav-right .search-bar > form {
    padding: 4px 6px;
    width: 270px;
  }

  .Nav .nav-right .search-bar > form input {
    font-size: 16px;
    max-width: 195px;
    background: none;
  }

  .Nav .nav-right .search-bar > form button {
    padding: 5px 8px;
    margin-left: 25px;
  }
}

@media (max-width: 901px) {
  .small-nav {
    display: none;
  }

  .Nav .navlogo .logoimg {
    width: 2.7rem;
    padding-right: 5px;
  }

  .Nav .navlogo > h2 {
    font-size: 18px;
    padding-top: 12px;
  }

  .Nav .nav-menu {
    gap: 10px;
  }

  .Nav .nav-menu #link {
    font-size: 14px;
    font-weight: 500;
  }
  .Nav .nav-right {
    gap: 10px;
  }

  .Nav .nav-right > img {
    width: 20px;
  }
  .nav-search .basket > img {
    width: 20px;
  }

  .Nav .button {
    padding: 6px;
    font-size: 14px;
  }

  .Nav .nav-right .search-bar > form {
    padding: 4px;
    width: 200px;
    height: 30px;
  }

  .Nav .nav-right .search-bar > form input {
    font-size: 14px;
    max-width: 155px;
    padding: 4px 0;
    background: none;
  }

  .Nav .nav-right .search-bar > form button {
    padding: 0;
    background: none;
    border: none;
    margin-left: 9px;
  }

  .Nav .nav-right .search-bar > form button img {
    width: 22px;
  }
}

@media (max-width: 750px) {
  .Nav {
    display: none;
  }

  .small-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 60px;
    width: 86vw;
    z-index: 20;
    background: inherit;
  }

  .dash-logo {
    display: flex;
  }

  .small-nav .dash-logo .hamburger-button {
    font-size: 30px;
    color: tomato;
    padding-right: 8px;
    cursor: pointer;
    background: inherit;
    border: none;
  }

  .dash-menu {
    width: 75vw;
    position: absolute;
    z-index: 9;
    background: rgba(243, 242, 242, 0.959);
    padding-left: 25px;
    margin-left: -29px;
    margin-top: -65px;
    padding-top: 120px;
    padding-bottom: 30px;
    border-radius: 0 0 20px;
    box-shadow: 0 0 13px -1px tomato;
  }

  .dash-menu .dash-close {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .dash-menu .dash-close > p {
    font-size: 22px;
    font-weight: 600;
    color: black;
  }

  .dash-menu .dash-close > button {
    font-size: 22px;
    padding: 2px 4px;
    border-radius: 50%;
    border: 1px solid rgb(20, 50, 20);
    right: -17px;
    margin-top: -45px;
    position: absolute;
    box-shadow: 0 0 13px -1px tomato;
    cursor: pointer;
  }

  .dash-menu .nav-menu #link {
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-weight: 450;
    color: black;
    margin-bottom: 15px;
  }

  .dash-menu .nav-menu #link:hover {
    color: tomato;
  }

  .small-nav .dash-logo .search-bar form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid tomato;
    width: 63vw;
    height: 33px;
    border-radius: 20px;
    margin-bottom: 40px;
    padding-left: 5px;
    padding-right: 3px;
  }

  .small-nav .dash-logo .search-bar form input {
    width: 50vw;
    border: none;
    font-size: 14px;
    margin-left: 5px;
    margin-top: -2px;
    outline: none;
    background: none;
  }

  .small-nav .dash-logo .search-bar form button {
    border: 1px solid rgb(18, 53, 18);
    border-radius: 50%;
    padding: 2px 4px;
    background-color: rgb(197, 167, 162);
  }

  .small-nav .dash-logo .search-bar .search-icon {
    width: 1.2rem;
  }

  .dash-logo .navlogo {
    display: flex;
    margin-top: -5px;
    z-index: 10;
  }

  .dash-logo .navlogo .logoimg {
    width: 2rem;
    padding-bottom: 10px;
  }

  .dash-logo .navlogo h2 {
    font-size: 22px;
    color: rgb(224, 125, 108);
    padding-top: 6px;
    padding-left: 4px;
  }

  .small-nav .cart {
    right: 0;
    margin-top: -4px;
  }

  .small-nav .cart .small-basket img {
    width: 26px;
  }

  .small-nav .cart .dot {
    position: relative;
    top: -35px;
    right: -24px;
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;
  }

  .dash-menu .button {
    padding: 10px 60px;
    font-size: 16px;
    border-radius: 20px;
    color: black;
  }
}
